gradio==3.36.1
psycopg2-binary
pypinyin
tiktoken
socksio
tqdm
colorama
googlesearch-python
Pygments
langchain
markdown
PyPDF2
pdfplumber
pandas
commentjson
openpyxl
pandoc
wolframalpha
faiss-cpu==1.7.4
duckduckgo-search
arxiv
wikipedia
google.generativeai
unstructured
google-api-python-client
tabulate
openai
python-dotenv
websocket-client
requests
tls-client
pypasser
names
curl_cffi
selenium
fake-useragent
twocaptcha
pydantic
pymailtm
Levenshtein
retrying
mailgw_temporary_email
pycryptodome
random-password-generator
tornado>=6.3.2
PyExecJS
browser_cookie3
aiohttp
aiofiles
aiohttp-wsgi
flask
flask-cors
api-analytics
gevent
pytz
huggingface_hub
watchdog~=3.0.0
js2py
httpx
spacy
zhconv
flask_http_middleware
nest_asyncio
waitress
git+https://github.com/MIDORIBIN/langchain-gpt4free.git