aiofiles==23.1.0
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.0.1
anyio==3.7.1
arxiv==1.4.8
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
Brotli==1.0.9
browser-cookie3==0.19.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
commentjson==0.9.0
contourpy==1.1.0
cryptography==41.0.2
curl-cffi==0.5.7
cycler==0.11.0
dataclasses-json==0.5.13
duckduckgo-search @ git+https://github.com/deedy5/duckduckgo_search@eedc84f64bc7b60832aa461630a16197b9a3565b
et-xmlfile==1.1.0
exceptiongroup==1.1.2
faiss-cpu==1.7.4
fake-useragent==1.1.3
fastapi==0.100.0
feedparser==6.0.10
ffmpy==0.3.1
filelock==3.12.2
filetype==1.2.0
Flask==2.3.2
Flask-Cors==4.0.0
fonttools==4.41.1
free-proxy==1.1.1
frozenlist==1.4.0
fsspec==2023.6.0
gevent==23.7.0
google-ai-generativelanguage==0.2.0
google-api-core==1.34.0
google-api-python-client==2.94.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-generativeai==0.1.0
googleapis-common-protos==1.59.1
googlesearch-python==1.2.3
gradio==3.38.0
gradio_client==0.2.10
greenlet==2.0.2
grpcio==1.56.2
grpcio-status==1.48.2
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
huggingface-hub==0.16.4
hyperframe==6.0.1
idna==3.4
itsdangerous==2.1.2
jaraco.context==4.3.0
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
kiwisolver==1.4.4
langchain==0.0.240
langsmith==0.0.14
lark-parser==0.7.8
Levenshtein==0.21.1
linkify-it-py==2.0.2
lxml==4.9.3
lz4==4.3.2
MailGw-Temporary-Email==0.0.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
mdit-py-plugins==0.3.3
mdurl==0.1.2
more-itertools==9.1.0
msg-parser==1.2.0
multidict==6.0.4
mypy-extensions==1.0.0
names==0.3.0
nltk==3.8.1
numexpr==2.8.4
numpy==1.24.4
olefile==0.46
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
orjson==3.9.2
outcome==1.2.0
packaging==23.1
pandas==2.0.3
pandoc==2.3
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.1
Pillow==10.0.0
plumbum==1.8.2
ply==3.11
proto-plus==1.22.3
protobuf==3.19.5
psycopg2-binary==2.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.18.0
pydantic==1.10.11
pydub==0.25.1
PyExecJS==1.5.1
Pygments==2.15.1
pymailtm==1.1.1
pypandoc==1.11
pyparsing==3.0.9
PyPasser==0.0.5
PyPDF2==3.0.1
pypdfium2==4.18.0
pyperclip==1.8.2
pypinyin==0.49.0
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
pytz==2023.3
PyYAML==6.0.1
random-password-generator==2.2.0
random-username==1.0.2
rapidfuzz==3.1.2
referencing==0.30.0
regex==2023.6.3
requests==2.31.0
retrying==1.3.4
rpds-py==0.9.2
rsa==4.9
safetensors==0.3.1
selenium==4.10.0
semantic-version==2.10.0
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SpeechRecognition==3.8.1
SQLAlchemy==2.0.19
starlette==0.27.0
tabulate==0.9.0
tenacity==8.2.2
tiktoken==0.4.0
tls-client==0.2.1
tokenizers==0.13.3
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
transformers==4.31.0
trio==0.22.2
trio-websocket==0.10.3
TwoCaptcha==0.0.1
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
unstructured==0.8.1
uritemplate==4.1.1
urllib3==1.26.16
uvicorn==0.23.1
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==2.3.6
wikipedia==1.4.0
wolframalpha==5.0.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.1.2
xmltodict==0.13.0
yarl==1.9.2
zope.event==5.0
zope.interface==6.0
