gradio
gradio_client
pypinyin
tiktoken
socksio
tqdm
colorama
Pygments
langchain==0.0.173
markdown
PyPDF2
pdfplumber
pandas
commentjson
openpyxl
pandoc
git+https://github.com/jaraco/wolframalpha.git
faiss-cpu==1.7.4
git+https://github.com/deedy5/duckduckgo_search.git
arxiv
wikipedia
google.generativeai
unstructured
google-api-python-client
tabulate
websocket-client
requests
tls-client
pypasser
names
colorama
curl_cffi
selenium
fake-useragent
twocaptcha
pydantic
pymailtm
Levenshtein
retrying
mailgw_temporary_email
pycryptodome
random-password-generator
numpy==1.24.4 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
PyExecJS
browser_cookie3
aiohttp
flask
flask-cors
browser_cookie3
gevent
transformers
torch